//Color
_color-theme = convert(hexo-config("theme_color.theme"))
if(_color-theme is a 'rgba')
  color-theme = _color-theme
else
  color-theme = #2ca6cb
  
color-background = #ddd
color-font = #817C7C
color-content = #112F2F
color-white = #ffffff
color-blue = #2ca6cb	
color-orange = #ea6753
color-font-nav = #E9CD4C
color-section = #fafafa	
color-footer = #1f1f1f
color-gray = #CCC
color-meta = #808080
color-heading = #333333
color-quote = #f5f5f5
color-code = #eee
color-twitter = #00aced
color-facebook = #3b5998
color-weibo = #c64d3e
color-google = #dd4b39
color-qrcode= #49ae0f
color-renren= #369
color-top = #762c54

//Media
width-phone = 568px
width-mini = 768px
width-tablet = 1024px
width-desktop = 1560px
phone = "only screen and (min-width: " + width-phone + ")"
mini= "only screen and (min-width: " + width-mini + ")"
tablet = "only screen and (min-width: " + width-tablet + ")"
desktop = "only screen and (min-width: " + width-desktop + ")"
phonemax = "only screen and (max-width: " + width-phone + ")"
tabletmax = "only screen and (max-width: " + width-tablet + ")"

//Font
font-default = "TIBch", "Classic Grotesque W01", "Helvetica Neue", "Arial", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "sans-serif"
font-serif = "Georgia", serif
font-mono = Monaco, Menlo, Consolas, Courier New, monospace
font-custom-family = "Quicksand"
font-custom-filename = quicksand-v6-latin-regular
font-icon-family = "FontAwesome"
font-icon-filename = fontawesome-webfont
font-icon-version = "4.0.3"
font-icon-diao = "fontdiao"
font-icon-diao-filename = "fontdiao"
font-icon-diao-version = "0.0.8"
ShowCustomFont = hexo-config("ShowCustomFont")
font-size = 100%
text-shadow =  0 0 2px #0bdd89
line-height = 1.5
//image
author-img = hexo-config("author_img")

//comment
duoshuo = hexo-config("duoshuo_shortname")

//banner image
banner-img = hexo-config("banner_img")
